*.log
*.blg
*.bbl
*.aux
*-blx.bib
*.out
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.class
*.xdv
_minted*
.material
IllegalMaterial
Appunti
LezioniRossini
Handwritten
Analisi
Fisica
Ricerca_Operativa
BD
IS
## *.pdf
.vscode
